@charset "utf-8";
html, body {color:#555;	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; margin:0;	padding: 0;	text-decoration: none; font-size:14px;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0;}
fieldset, img { border:0;}
address, caption, cite, code, dfn,  th, var { font-style:normal; font-weight:normal;}
ol, ul { list-style: none outside none; margin:0; padding: 0;}
caption, th { text-align:left;}
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal;}
h2{ color:#333;}
a{ color:#555;}
a:hover{text-decoration:none !important;}
html,body{height:100%; background:#f0f0f0;}

/*login样式*/
.all{ background:#f0f0f0; width:100%; height:100%; float:left; }
.logo{ width:550px; height:201px; margin:0 auto; margin-top:20%;}
.login{ width:550px; height:380px; margin:0 auto; margin-top:90px;}
.num{position: relative;width: 610px; height:90px;}
.num input{ width:500px; height:90px; font-size:30px; background:#fff; border:none;}
.icon-user{
position: absolute;left:15px;
top:20px;
background-image: url(../images/login1.png); /*引入图片图片*/
background-repeat: no-repeat; /*设置图片不重复*/
background-position: 0px 0px; /*图片显示的位置*/
width: 35px; /*设置图片显示的宽*/
height: 51px; /*图片显示的高*/
}
.number{ padding-left:70px;}
.pwd{position: relative;width: 610px; height:90px; top:30px;}
.pwd input{ width:500px; height:90px; font-size:30px; background:#fff; border:none;}
.icon-pwd{
position: absolute;left:15px;
top:20px;
background-image: url(../images/login2.png); /*引入图片图片*/
background-repeat: no-repeat; /*设置图片不重复*/
background-position: 0px 0px; /*图片显示的位置*/
width: 35px; /*设置图片显示的宽*/
height: 51px; /*图片显示的高*/
}
.password{ padding-left:70px;}
.denglu{ width:208px; height:76px; position:relative; top:90px; margin:0 auto;}
.denglu input{width:208px; height:76px; background:#f8575c; color:#FFF; font-size:40px; border:none; border-radius:10px;}
/*首页样式*/
.suoyou{background:#f0f0f0; width:100%; height:100%; float:left;}
.banner{ width:100%; height:250px;}
.fullSlide{width:100%;position:relative;height:250px;background:#000;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important; background:#fff;}
.fullSlide .bd li{width:100% !important;height:250px;overflow:hidden;text-align:center; background-size: cover}
.fullSlide .bd li a{display:block;height:250px; background-size: cover}
.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:42px;height:11px;margin:1px;overflow:hidden;background:#000;filter:alpha(opacity=50);opacity:0.5;line-height:999px;}
.fullSlide .hd ul .on{background:#f00;}
.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:15%;z-index:1;width:40px;height:60px;background:url(../image/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next{left:auto;right:15%;background-position:-6px -137px;}
.fuli{ width:300px; height:50px;  float:left; text-align:center; color:#FFF; font-size:28px; position:relative; top:-450px; left:-20px;}
.sect{ width:90%; height:135px; margin:0 auto; background:#FFF;}
.sect1{ width:25%; height:135px; float:left; border-right:1px solid #f0f0f0; font-size:27px; text-align:center; color:#909090;}
.sect2{ width:25%; height:135px; float:left; border-right:1px solid #f0f0f0; font-size:27px; text-align:center; color:#909090;}
.sect3{ width:25%; height:135px; float:left; border-right:1px solid #f0f0f0; font-size:27px; text-align:center; color:#909090;}
.sect4{ width:24%; height:135px; float:left; font-size:27px; text-align:center; color:#909090;}
.sect p{ margin-top:20px; font-size:20px;}
.advert{ width:90%; height:180px; background:#FFF; margin:20px auto; position:relative;}
.advert1{width:100%; height:180px;margin:0 auto; background:url(../image/index7.png) 50% 0 no-repeat}
.show{ width:90%; height:556px; margin:0 auto; background:#FFF; position:relative;}
.dinq{ width:100%; height:50px; float:left; border-bottom:1px solid #f0f0f0;}
.dingq-left{ width:300px; height:50px; color:#fa575c; font-size:24px; line-height:50px; float:left; margin-left:20px;}
.dingq-left img{ vertical-align:middle; padding-right:20px;}
.dingq-right{width:70px; height:84px; color:#909090; font-size:22px; line-height:50px; float:right; margin-right:10px;}
.xiq{ width:95%; height:125.3px; float:right; border-bottom:1px solid #f0f0f0;}
.xiq-left{ width:187px; height:100px; float:left;line-height:50px; margin-top:17px;}
.xiqnum{ font-size:40px; color:#ff5a00;}
.xiqyu{ font-size:22px; color:#909090}
.xiq-right{width:400px; height:100px; float:left; margin-left:95px; margin-top:17px;}
.qix{ width:300px; height:50px; float:left; font-size:24px; line-height:50px; color:#fa575c;}
.gus{width: 150px;height: 40px;float:left;font-size:22px;color:#3b9dff;text-align:center;border-radius: 20px;line-height: 40px;border:1px solid #03C;}
.qit{ width:150px; height:50px; float:left; color:#000; line-height:50px; margin-left:10px; font-size:22px;}
.bot{ width:100%; height:90px; float:left; background:#FFF; border:1px solid #f0f0f0;}
.bottom{ width:95%; height:90px; margin:0 auto;}
.bot1{ width:25%; height:90px; float:left; font-size:27px; text-align:center; color:#000; }
.bot2{ width:25%; height:90px; float:left; font-size:27px; text-align:center; color:#000; }
.bot3{ width:25%; height:90px; float:left; font-size:27px; text-align:center; color:#000; }
.bot4{ width:24%; height:90px; float:left; font-size:27px; text-align:center; color:#000; }
.bottom p{ margin-top:10px; font-size:15px; color:#909090;}

/*问卷*/
.question{ width:100%; height:140px;background:url(../images/question1.png) 50% 0 no-repeat;}
.gdz{ width:90%; height:260px; margin:20px auto; background:#f7eae4;}
.gdz p{ font-size:20px; line-height:50px; padding:0px 30px;}
.xzt{ width:90%; height:auto; margin:5px auto;  background:#FFF;}
.xzt img { vertical-align:text-bottom; padding-right:10px;}
.xzt ul{list-style-type:none; font-size:24px; padding:10px 30px;}
.ques ul{ list-style-type:none;}
.questi{ margin-top:30px; color:#555555;}
.answ{ margin-top:30px; color:#753310;}
.questi label{
   margin-right:10px;
}
.questi i{
    float:left; width:30px; height:30px; display:block; background:url(../images/question3.png) 0 5px no-repeat;
}
.questi .on i{
	background:url(../images/question4.png) 0 5px no-repeat;
}
.answer{list-style-type:none;}


