<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="{WEB_PATH}Admin/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="{WEB_PATH}Admin/css/global.css" media="all">
		<link rel="stylesheet" href="{WEB_PATH}Admin/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="{WEB_PATH}Admin/css/table.css" />
	</head>

	<body>
		<div class="admin-main">

			<blockquote class="layui-elem-quote">
				<a href="javascript:;" class="layui-btn layui-btn-small" id="add">
					<i class="layui-icon">&#xe608;</i> 添加信息
				</a>
				<a href="#" class="layui-btn layui-btn-small" id="import">
					<i class="layui-icon">&#xe608;</i> 导入信息
				</a>
				<a href="#" class="layui-btn layui-btn-small">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> 导出信息
				</a>
				<a href="javascript:;" class="layui-btn layui-btn-small" id="search">
					<i class="layui-icon">&#xe615;</i> 搜索
				</a>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>管理员列表</legend>
				<div class="layui-field-box">
					<table class="site-table table-hover">
						<thead>
							<tr>
								<!-- <th><input type="checkbox" id="selected-all"></th> -->
								<th>管理员编号</th>
								<th>真实姓名</th>
								<th>用户名</th>
								<th>联系电话</th>
								<th>邮箱</th>
								<th>创建时间</th>
								<th>管理员类型</th>
								<th>账号状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						    {php $flag=array(1=>'启用',2=>'关闭');}
                            {php $types=array(1=>'超级管理员',2=>'代理商',3=>'普通管理员');}
						    <!-- {php  $admins=sql_tag_get('{admin}') ; } -->
						    {loop $re $r}
							<tr>
								<!-- <td><input type="checkbox"></td> -->
								<td>{$r[adminid]}</td>
								<td>{$r[realname]}</td>
								<td>{$r[loginname]}</td>
								<td>{$r[phone]}</td>
								<td>{$r[email]}</td>
								<td>{$r[inserttime]}</td>
								<td>{$types[$r[type]]}</td>
								<td>{$flag[$r[flag]]}</td>
								<!-- <td style="text-align:center;"><i class="layui-icon" style="color:green;"></i></td> -->
								<td>
									<!-- <a href="/detail-1" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">预览</a> -->
									<a href="{WEB_PATH}index.php?m=admin&c=index&a=chenge&adminid={$r[adminid]}" class="layui-btn layui-btn-mini">编辑</a>
								<!-- 	<a href="javascript:;" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a> -->
								</td>
							</tr>
							{/loop}							
						</tbody>

					</table>

				</div>
			</fieldset>
			<div id="page" class="page"></div>
			<!-- div class="admin-table-page"></div -->
		</div>
		<script type="text/javascript" src="{WEB_PATH}Admin/plugins/layui/layui.js"></script>
		<script>
			layui.config({
				base: '{WEB_PATH}Admin/plugins/layui/modules/'
			});

			layui.use(['icheck', 'laypage','layer'], function() {
				var $ = layui.jquery,
					laypage = layui.laypage,
					layer = parent.layer === undefined ? layui.layer : parent.layer;
				$('input').iCheck({
					checkboxClass: 'icheckbox_flat-green'
				});

				$('#search').on('click', function() {
					parent.layer.alert('你点击了搜索按钮')
				});

				$('#add').on('click', function() {
					$.get('temp/edit-form.html', null, function(form) {
						layer.open({
							type: 1,
							title: '添加表单',
							content: form,
							btn: ['保存', '取消'],
							area: ['600px', '400px'],
							maxmin: true,
							yes: function(index) {
								console.log(index);
							},
							full: function(elem) {
								var win = window.top === window.self ? window : parent.window;
								$(win).on('resize', function() {
									var $this = $(this);
									elem.width($this.width()).height($this.height()).css({
										top: 0,
										left: 0
									});
									elem.children('div.layui-layer-content').height($this.height() - 95);
								});
							}
						});
					});
				});

				$('#import').on('click', function() {
					var that = this;
					var index = layer.tips('只想提示地精准些', that,{tips: [1, 'white']});
					$('#layui-layer'+index).children('div.layui-layer-content').css('color','#000000');
				});

				$('#selected-all').on('ifChanged', function(event) {
					var $input = $('.site-table tbody tr td').find('input');
					$input.iCheck(event.currentTarget.checked ? 'check' : 'uncheck');
				});
				
				laypage({
					cont: 'page',
					pages: {$page_total} ,
					groups: 5 ,
					curr:{$page},
					jump: function(obj, first) {
						//得到了当前页，用于向服务端请求对应数据
						var curr = obj.curr;
						if(!first) {
							//layer.msg('第 '+ obj.curr +' 页');
							location.href = '{_URL_NO_PAGE_}' + '&page='+ curr ;
						}
					}
				});
			});
		</script>
	</body>
</html>