 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mnage for MK</title>
<link href="{CSS_PATH}/admin1.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}/admin2.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}/admin3.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}/common.css" rel="stylesheet" type="text/css" />

<script src="{JS_PATH}/jquery.1.9.js"></script>
<script src="{JS_PATH}/jquery.form.js"></script>
<script src="{JS_PATH}/public.js"></script>
</head>
<body>
<div class="main"> 
<!-- 顶部结束 -->

  <div class="middle">
    <div class="middle-item margin-btm-15">
	   	  <div class="user-bread">
	  	<div class="user-bread-left">您好：
      <span class="red-style">{$_SESSION['username']}</span>，欢迎进入管理！</div>
            <div class="user-bread-right">
            	<span><a href="index.php?m=admin&a=logout">退出登录</a></span>
                <i></i>
                <span><a href="http://wenxue.hbrc.com/">网站首页</a></span>
          </div>
      </div>